.vs/d3d11nt/v14/.suo
d3d11nt.opensdf
d3d11nt.sdf
.vs/d3d11nt/v14/.suo
ipch/D3D11NT-6e2198bf/D3D11NT-880752eb.ipch
.vs/d3d11nt/v14/.suo
*.obj
d3d11nt.sdf
d3d11nt/Release/d3d11nt.pch
d3d11nt/Release/d3d11nt.log
d3d11nt/Release/vc140.pdb
*.obj
*.tlog
d3d11nt/Release/d3d11nt.tlog/unsuccessfulbuild
*.ipch
*.tlog
*.sdf
*.obj
*.suo
*.ipch
*.tlog
d3d11nt/Release/d3d11nt.pch
*.idb
d3d11nt/Debug/vc140.pdb
d3d11nt/Debug/d3d11nt.tlog/CL.write.1.tlog
*.exe
Debug/d3d11nt.ilk
*.pdb
.vs/d3d11nt/v14/.suo
ipch/D3D11NT-6e2198bf/D3D11NT-880752eb.ipch
*.ipch
d3d11nt/Debug/d3d11nt.log
d3d11nt/Debug/d3d11nt.pch
d3d11nt/Debug/d3d11nt.Build.CppClean.log
Graphics/Debug/Graphics.pch
Graphics/Debug/Graphics.Build.CppClean.log
*.log
Debug/SystemBenchmark.ilk
Release/d3d11nt.ipdb
*.iobj
Graphics/Release/Graphics.pch
Release/SystemBenchmark.ipdb
*.pch
d3d11nt/desktop.ini
d3d11nt.VC.VC.opendb
*.db
.vs/d3d11nt/v14/.suo
Debug/Graphics.lib
*.lib